<h1>Welcome to the Restaurant Finder</h1>


		<% @restaurant.each do |restaurant| %>
		<h4>
			<%= restaurant.name %>
			<%= restaurant.description %>
			<%= restaurant.street %>
			<%= restaurant.streetnumber %>
			<%= restaurant.city %>
			<%= restaurant.zipcode %>
			<%= restaurant.state %>
			<%= restaurant.country %>						
			<%= restaurant.phonenumber %>
		</h4>
		<p>
			<%= link_to("Show", {:action => 'show', :id => restaurant.id}) %>
			<%= link_to("Edit", {:action => 'edit', :id => restaurant.id}) %>
			<%= link_to("Delete Restaurant", {:action => 'destroy', :id => restaurant.id}, :confirm => "Are you sure you want to delete?") %>
		</p>


		<% end %>

