<h1>Welcome to the Restaurant Finder</h2>

	<h4>
		<% @restaurant.each do |restaurant| %>
			<%= restaurant.name %>
			<%= restaurant.description %>
			<%= restaurant.street %>
			<%= restaurant.streetnumber %>
			<%= restaurant.city %>
			<%= restaurant.zipcode %>
			<%= restaurant.state %>
			<%= restaurant.country %>						
			<%= restaurant.phonenumber %>
			<%= restaurant.created_at %>
			<%= restaurant.updated_at %>			
		<% end %>
	</h4>
