<h1>Details for your Restaurant</h1>

	<h4>
			<%= restaurant.name %>
			<%= restaurant.description %>
			<%= restaurant.street %>
			<%= restaurant.streetnumber %>
			<%= restaurant.city %>
			<%= restaurant.zipcode %>
			<%= restaurant.state %>
			<%= restaurant.country %>						
			<%= restaurant.phonenumber %>
			<%= restaurant.created_at %>
			<%= restaurant.updated_at %>			
	</h4>
